#content {
  text-align: center;
}
#logo {
	float: right;
}
#chart1, #chart2, #chart3, #chart4, #chart5 {
	margin-left: auto;
	margin-right: auto;
}
#grid1 {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}