#content {
  text-align: center;
}
#chart1 {
	margin-left: auto;
	margin-right: auto;
}
#chart2 {
	margin-left: auto;
	margin-right: auto;
}
#chart3 {
	margin-left: auto;
	margin-right: auto;
}
#chart4 {
	margin-left: auto;
	margin-right: auto;
}
#chart5 {
	margin-left: auto;
	margin-right: auto;
}
#grid1 {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;
}